@layer app-base {
  @tailwind base;
}

@layer app-components {
  @tailwind components;
}

@layer app-utilities {
  @tailwind utilities;
}

@layer app-variants {
  @tailwind variants;
}

@layer app-overrides {
}
